@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
:root{
    --deepblue: #204C9F;
    --lightblue: #4176D8;
    --lastshade: #8DADE8;
    --yellow: #D8A341;
    --btnhover: #85601B;
    --white: #FFFFFF;
    --backgroundshade1: #D9E4F7;
    --backgroundshade2: #ECF1FB;
    --greytextcolor: rgba(255, 255, 255, 0.836);
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Mulish', sans-serif;  
    height: 100%;
    background: white; 
}
h2, h3, h4, h5 {
    color: var(--deepblue);
}
header{
    background-color: var(--lightblue);
    color: var(--greytextcolor);
    height: 98vh;
}
header{
    position: sticky;
    z-index: 11;
    
}
.logo h1{
    font-family: 'Piedra', cursive;
}
.nav {
display: flex;
align-items: center;
justify-content: space-between;
height: 15vh;
}
.nav-links {
display: flex;
list-style: none;
}
.nav-links > li {
    margin: 0 20px;
}
.nav-links > li > a{
    color: var(--white);
    font-weight: bold;
    transition: all 0.5s ease-in;
}
.nav-links > li > a:hover{
    text-decoration: none;
    color: var(--yellow);
}
.hero-section{
    padding: 30px 0;
}
.hero-section > .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section h2{
    color: var(--white);
}
.hero-section p{
    margin: 30px 0;
}
.hero-section img {
    width: 100%;
    object-fit: cover;
}
.header-input{
    position: relative;
    padding: 10px 10px;
    width: 90%;
}
.header-btn{
    position: absolute;
    padding: 6px 15px;
    right: 15%;
    margin: 6px 0;
    background-color: #D8A341;
    color: white;
    font-weight: bold;
    border: none;
    transition: all 0.5s ease-in;
}
.header-btn:hover{
    background-color: #85601B;
}
/*first section styles*/

.first-section{
    padding: 80px 0;
}
.underline{
 height: 3px;
 width: 90px;
 margin: 10px 0;
 background-color: var(--yellow);
}
.first-section h4{
    margin: 20px 0;
}
#icon{
    background-color: var(--deepblue);
    color: var(--backgroundshade2);
    width: 40px;
    height: 35px;
    padding: 7px 0;
    border-radius: 50%;
}

/*about section*/
.about{
    padding: 80px 0;
}
.about img{
    width:85%;
    height: auto;
    box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.144);
}
.about > .container > .row {
    align-items: center;
}
.small-heading{
    display: flex;
}
.small-heading > p{
    color: var(--yellow);
    font-weight: bold;
    font-size: 12px;
}
.underline2{
    height: 1.5px;
    width: 150px;
    margin: 10px 20px;
    background-color: var(--yellow);
   }
   .about-btn{
    padding: 6px 15px;
    margin: 5px 0;
    background-color: #D8A341;
    color: white;
    font-weight: bold;
    border: none;
    transition: all 0.5s ease-in;
}  
.about-btn:hover{
    background-color: #85601B;
}

/*services section*/

.services{
    padding: 80px 0;
    background-color: var(--backgroundshade2);
}
.title{
    margin: 50px 0;
}
#service-icon{
    color: var(--yellow);
    font-size: 1.5rem;
}
.services h4{
    margin: 20px 0;
}


/*app section*/

.app-section{
    padding: 80px 0;
    height: 100%;
    overflow: auto;
}

hr {
width: 60%;
}
.app-title{
    margin: 50px 0;
    width: 100%;
    text-align: center;
}
.chat{
    color: #D8A341;
}
.app-section img{
    height: 70vh;
    margin-left: 20%;
    align-items: center;
}
.btn-caption{
    font-size: 1.3rem;
}
.btn-label p{
    font-size:12px;
}
.btn-store{
    display: flex;
    background-color: #1a1a1a;
    height: 70px;
    border-radius: 8px;
}
.btn-store:hover{
    background-color: var(--lightblue);
}
#app-icon, .btn-label{
    margin: 8px;
    color: #FFFFFF;
}

/*team section*/
.team-section{
    padding: 80px 0;
}
.team-section img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .row-2 img {
      margin-top: 40px;
  }
  .team-section h5{
      font-size: 1.3rem;
  }
  .team-section p{
      font-size: 18px;
  }

/*CTA section*/
.cta-section{
    padding: 80px 0;
    height: 100%;
    overflow: auto;
}
.cta-section > .cta > .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-img{
    background-image: linear-gradient(to right, transparent, #4176d8d8), url('../Images/pexels-andrea-piacquadio-3881469.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.cta-overlay h2, .cta-overlay p{
    color: #1a1a1a;
}
/*footer section*/

footer{
    background-color: var(--backgroundshade1);
    padding: 30px 0;
    height: 100%;
    overflow: auto;
}
.footer-logo h1{
    font-family: 'Piedra', cursive;
    color: var(--lastshade);
}
footer h6{
    margin: 10px 0;
    font-weight: bold;
}
.quicklinks > ul{
    list-style: none;
}
.quicklinks > ul > li > a{
        text-decoration: none;
        line-height: 1.5;
        color: #494949;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        cursor: pointer;
}
.quicklinks > ul > li > a:hover{
        color: var(--btnhover);
}
.sm{
    text-align: center;
}
.sm .fa-facebook, .sm .fa-instagram, .sm .fa-twitter, .sm .fa-telegram{
    color: var(--lastshade);
    margin: 10px 15px;
    cursor: pointer;
    font-size: 1.5rem;
 }

 /*responsiveness*/ 

@media screen and (max-width: 768px){
    header{
        height: auto;
    }
    .header-btn{
        right: 12%;
    }
   .nav-links{
    position: absolute;
    top: 10vh;
    right: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
    cursor: pointer;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: transform 0.5s ease-in;
}
.nav-links li a{
    color: var(--lightblue);
    font-weight: bold;
    transition: all 0.5s ease-in;
} 
.nav-open{
    clip-path: circle(1300px at 90% -10%);
}
.nav-close{
   display: none;
}
.burger{
  display: block;  
  }
  @keyframes nav-linksFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
   transform: rotate(-45deg) translate(-2px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-3px,-12px);
} 
.line1, .line2, .line3 {
    height: 3px;
    background-color: aliceblue;
    margin: 5px;
    transition: all 0.3s ease;
}
.line1{
    width: 30px;
}
.line2{
    width: 26px;
}
.line3{
    width: 20px;
}
.burger{
    position: absolute;
    right: 10%;
    top: 11%;
    transform: translate(-5%, -50%);
}
form{
    text-align: center;
}
.hero-section img {
    max-width: 100%;
    margin: 40px 0;
}
.hero-section h2, .hero-section p{
    text-align: center;
 }
.about img {
    margin-bottom: 100px;
    margin-left: 20px;
    object-fit: cover;
}
.app{
    display: flex;
    flex-direction: column-reverse;
}
.app-section, .services, .first-section{
    padding: 20px 5px !important;
}
.app-title{
    width: 100%;
    text-align: center;
} 
.app-section img{
    height: 40vh;
    align-items: center;
}
.team-section{
    padding: 10px !important;
} 
.cta-overlay{
    text-align: center;
    margin-top: 50px;
}
.cta-overlay h2, .cta-overlay p, .footer-logo h1, footer h2{
    text-align: center;
}
footer{
    height: auto;
}
footer p, .address h6{text-align: center;} 
.quicklinks > ul {
    text-align: center;
    padding: 0 !important;
}
}
@media only screen and (max-width: 384px) {
    .burger{
        top: 5%;
    }
}
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
{ 
    .burger{
        top: 6% ;
    }  
}
/* iphone X Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .burger{
        top: 6.5%;
    }  
}
@media screen 
  and (device-width: 414px) 
 {
    .burger{
        top: 6%;
    }  
}

